frontend Local_Server
    bind :6696
    option tcplog
    mode tcp
    default_backend vaultservers

backend vaultservers
    balance roundrobin
    mode tcp
    option ssl-hello-chk
    #mode http
    #option forwardfor
    #http-request set-header X-Forwarded-Port %[dst_port]
    #http-request add-header X-Forwarded-Proto https if { ssl_fc }
    #option httpchk HEAD / HTTP/1.1rnHost:localhost
    #option httpchk  GET /check
    server vault3  10.10.42.203:5696 check
    server vault4  10.10.42.204:5696 check
